<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting</title>
</head>
<body>
    <h1>Waiting for a bottle...</h1>
    <form action="/send", method="GET">
        <button>Send a bottle</button>
    </form>
</body>
</html>